# Folders
node_modules
testing
.vscode

#Only important for git repo
examples
CHANGELOG.md


#Developement
**/index.ts
*.map
*.map
package-lock.json
tsconfig.json
CHANGELOG.md

#Git
.gitignore
.gitattributes