# Folders
node_modules
testing
.vscode

# Only important for git
examples

#Developement
src/index.ts
src/index.d.ts.map
src/index.js.map
package-lock.json
tsconfig.json

#Git
.gitignore
.gitattributes